# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs and DBs
*.log
*.sqlite3
*.db

# Environment variables
.env

